<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    
  <div className='w-1/2 m-auto p-2 bg-slate-100 rounded '>
    <h1 className='bg-black text-white p-2 rounded'>Add Product Detail</h1>
    <form className='m-auto p-3 flex flex-col ' method="post" action="/products" enctype="application/x-www-form-urlencoded">
      <label htmlFor="title">Title :</label>
      <input className='border  m-1 p-1' type="text" id="title" name="title" placeholder='Title here...'   required/>
      <label htmlFor="brand">Brand :</label>
      <input className='border m-1 p-1' type="text" id="brand" name="brand" placeholder='Brand here...'  required/>
      <label htmlFor="description">Discription :</label>
      <input className='border  m-1 p-1' type="text" id="description" name="description" placeholder='Description here...' />
      <label htmlFor="price">Price :</label>
      <input className='border  m-1 p-1' type="number" id="price" name="price" placeholder='Price here...'  required/>
      <label htmlFor="category"  >Category : </label>
      <select className='m-1 p-1  border' id='category' name='category'   required>
        <option value={null} >Select  Category...</option>
        <option value='Smartphones'>Smartphones</option>
        <option value='Laptops'>Laptops</option>
        <option value='Beauty'>Beauty</option>
        <option value='Groceries'>Groceries</option>
        <option value='Clothes'>Clothes</option>
      </select>
      <label htmlFor="thumbnail">Thumbnail :</label>
      <input className='border block m-1 p-1' type="text" id="thumbnail" name="thumbnail" defaultValue="https://cdn.dummyjson.com/product-images/1/thumbnail.jpg"  onChange={handleChange}></input>
      <input className='border block m-2 p-1 bg-black text-white rounded w-1/3 hover:font-semibold' type="submit" value="Submit"></input>
    </form>
  </div>

</body>
</html>